<!-- <section> begin ============================-->
<footer class="py-0 pt-7 mt-5 bg-dark">
  <div class="container">
    <!-- info city -->
    <div id="info-city" class=" info-city row justify-content-lg-between">
      <h5 class="lh-lg fw-bold text-white">NOSSAS PRINCIPAIS CIDADES</h5>
      <div class="col-6 col-md-4 col-lg-auto mb-3">
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">São Paulo</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Rio de Janeiro</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Brasília</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Fortaleza</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Salvador</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-auto mb-3">
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Belo Horizonte</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Manaus</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Curitiba</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Recife</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Goiânia</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-auto mb-3">
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Porto Alegre</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Belém</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Boa Vista</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Rio Branco</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">São Luís</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-auto mb-3">
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Maceió</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Campo Grande</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Macapá</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Teresina</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">João Pessoa</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-auto mb-3">
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Natal</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Cuiabá</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Aracaju</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Florianópolis</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Porto Velho</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- info details -->
    <hr class=" text-500" />
    <div class="row">
      <!-- company -->
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
        <h5 class="lh-lg fw-bold text-white">EMPRESA</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Sobre Nós</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Equipe</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Carreiras</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Blog</a>
          </li>
        </ul>
      </div>
      <!-- Contact -->
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 col-lg-3 mb-3">
        <h5 class="lh-lg fw-bold text-white">CONTATO</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Ajuda &amp; Suporte</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Seja nosso parceiro</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Viaje conosco</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Ande conosco</a>
          </li>
        </ul>
      </div>
      <!-- Legal -->
      <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3">
        <h5 class="lh-lg fw-bold text-white">JURÍDICO</h5>
        <ul class="list-unstyled mb-md-4 mb-lg-0">
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Termos &amp; Condições</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Reembolso/Cancelamento</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Política de Privacidade</a>
          </li>
          <li class="lh-lg">
            <a class="text-200 text-decoration-none">Política de Cookies</a>
          </li>
        </ul>
      </div>
      <!-- Follow -->
      <div class="mx-auto col-12 col-md-8 col-lg-6 col-xxl-4">
        <h5 class="lh-lg fw-bold text-white">SIGA-NOS</h5>
        <!-- social midia -->
        <div class="text-start my-3">
          <a> <img src="../../assets/img/instagram.svg" class="svg-inline--fa fa-instagram fs-2 me-2"  alt="instagram"></a>
          <a> <img src="../../assets/img/facebook.svg" class="svg-inline--fa fa-facebook fs-2 mx-2" alt="facebook icon">
            </a>
          <a> <img src="../../assets/img/twitter.svg" class="svg-inline--fa fa-twitter fs-2 mx-2" alt="twitter icon">
          </a>
        </div>
        <!-- input -->
        <h3 class="text-200 my-4 fw-bold">
          Receba ofertas exclusivas e <br />descontos na sua caixa de correio
        </h3>
        <div class="input-group-icon d-flex mb-5 text-500">
          <div class="col-auto me-1">
            <svg class="bi bi-envelope-fill input-box-icon ms-3" xmlns="http://www.w3.org/2000/svg" width="16"
              height="16" fill="#BDBDBD" viewBox="0 0 16 16">
              <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
            </svg>
            <input class="form-control input-box bg-800 border-0  text-500" type="email" placeholder="Enter Email"
              aria-label="email" />
          </div>
          <div class="col-auto ms-2">
            <button class="btn btn-subscribe py-2 px-2" type="button">Se inscrever</button>
          </div>
        </div>
      </div>
    </div>
    <hr class="border border-800" />
    <div class="row flex-center pb-3">
      <div class="col-md-6 order-0">
        <p class="text-200 text-center text-md-start">
          Todos os direitos reservados &copy; Loja Mauricio, 2024
        </p>
      </div>
      <div class="col-md-6 order-1">
        <p class="text-200 text-center text-md-end">
          Feito&nbsp;
          <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#FFB30E"
            viewBox="0 0 16 16">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z">
            </path>
          </svg>
          &nbsp;por&nbsp;
          <a class="text-200 fw-bold" href="#" target="_blank">Mauricio Souza
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</footer>
<!-- <section> close ============================-->