<div class="produt-list container">
  <h1 class="d-flex justify-content-center py-2">Todos os produtos</h1>
  <p class="text-danger">{{ productMessage }}</p>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Imagem</th>
        <th scope="col">Nome Produto</th>
        <th scope="col">Preço Produto</th>
        <th scope="col">Cor Produto</th>
        <th scope="col">Categoria Produto</th>
        <th scope="col">Descrição Produto</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of productList">
        <td>
          <img
            class="img-thumbnail"
            style="width: 4rem"
            src="{{ item.image }}"
            alt="{{ item.name }}"
          />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>
          <fa-icon
            class="btn btn-danger"
            (click)="deleteProduct(item.id)"
            [icon]="icon"
            >Excluir
          </fa-icon>
          <a class="px-1" routerLink="/seller-update-product/{{ item.id }}">
            <fa-icon class="btn btn-warning" [icon]="editIcon">
              Editar
            </fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
