<div class="modal-header">
  <h4 class="modal-title">Carrinho de compra:</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>Olá {{ name }}!</p>
  <table *ngFor="let cart of cartData" class="table text-center">
    <thead>
      <tr>
        <th scope="col"> PRODUTO</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Qnt</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody class="table-group">
      <tr (click)="navigateToProductDetail((cart.productId !== undefined) ? cart.productId : (cart.id !== undefined ? cart.id : -1))" style="cursor: pointer;">
        <td>
          <img class="img-thumbnail" style="width: 4rem" src="{{ cart.image }}" alt="{{ cart.name }}" />
        </td>
        <td class="text-cart text-nowrap">{{ cart.name }}</td>
        <td>{{cart.price | currency:'BRL':true}}</td>
        <td>{{cartData?.length}}</td>
        <td>{{cart.category}}</td>
      </tr>
    </tbody>

  </table>
  <table class="table text-center">
    <!-- info total -->
    <thead>
      <tr>
        <th scope="col">Valor</th>
        <th scope="col">Imposto</th>
        <th scope="col">Entrega</th>
        <th scope="col">Desconto</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <td>{{priceSumary.price | currency: 'BRL': true}}</td>
        <td>{{priceSumary.tax | currency: 'BRL': true}}</td>
        <td>{{priceSumary.delivery | currency: 'BRL': true}}</td>
        <td>{{priceSumary.discount | currency: 'BRL': true}}</td>
        <td>{{priceSumary.total | currency: 'BRL': true}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <p>Quantidade: 
    <span>{{cartData?.length}}</span>
  </p>
  <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Close click')">
    Comprar
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
    Close
  </button>
</div>